@import "vars";

.switch-outer {
    --ui-switch-padding-x: #{$switch-padding-x};
    --ui-switch-padding-y: #{$switch-padding-y};
    --ui-switch-font-size: #{$switch-font-size};
    --ui-switch-border-width: #{$switch-border-width};
    --ui-switch-border-color: #{$switch-border-color};
    --ui-switch-border-radius: #{$switch-border-radius};
    --ui-switch-focus-box-shadow: #{$switch-focus-box-shadow};
    --ui-switch-disabled-opacity: #{$switch-disabled-opacity};

    overflow: hidden;
    font-size: var(--ui-switch-font-size);
    text-align: center;
    user-select: none;
    border: var(--ui-switch-border-width) var(--ui-border-style) var(--ui-switch-border-color);
    border-radius: var(--ui-switch-border-radius);
    outline: 0;

    &:focus-visible {
        box-shadow: var(--ui-switch-focus-box-shadow);
    }
}

.switch-disabled {
    pointer-events: none;
    opacity: var(--ui-switch-disabled-opacity);
}

.switch {
    display: flex;

    .switch-toggle-on,
    .switch-toggle-off {
        padding: var(--ui-switch-padding-y) var(--ui-switch-padding-x);
    }
}

.switch-xs {
    --ui-switch-padding-x: #{$switch-xs-padding-x};
    --ui-switch-font-size: #{$switch-xs-font-size};
}

.switch-sm {
    --ui-switch-padding-x: #{$switch-sm-padding-x};
    --ui-switch-font-size: #{$switch-sm-font-size};
}

.switch-lg {
    --ui-switch-padding-x: #{$switch-lg-padding-x};
    --ui-switch-font-size: #{$switch-lg-font-size};
}

.switch-xl {
    --ui-switch-padding-x: #{$switch-xl-padding-x};
    --ui-switch-font-size: #{$switch-xl-font-size};
}
