@import "functions";
@import "vars";

.switch-outer {
    border: $switch-border-size $border-style $switch-border-color;
    border-radius: $switch-border-radius;
    outline: 0;

    &:focus {
        box-shadow: 0 0 0 $switch-border-size $switch-focus-outline-color;
    }
}

.switch-disabled {
    pointer-events: none;
    opacity: $switch-disabled-opacity;
}

@each $name, $color in $switch-variants {
    .switch-#{$name} {
        color: text-color($color);
        background-color: $color;
    }
}

.switch-xl {
    font-size: text-size($switch-xl-font-size);

    .switch-toggle-on,
    .switch-toggle-off {
        padding: $switch-padding-y $switch-xl-padding-x;
    }
}

.switch-lg {
    font-size: text-size($switch-lg-font-size);

    .switch-toggle-on,
    .switch-toggle-off {
        padding: $switch-padding-y $switch-lg-padding-x;
    }
}

.switch-md {
    font-size: text-size($switch-md-font-size);

    .switch-toggle-on,
    .switch-toggle-off {
        padding: $switch-padding-y $switch-md-padding-x;
    }
}

.switch-sm {
    font-size: text-size($switch-sm-font-size);

    .switch-toggle-on,
    .switch-toggle-off {
        padding: $switch-padding-y $switch-sm-padding-x;
    }
}

.switch-xs {
    font-size: text-size($switch-xs-font-size);

    .switch-toggle-on,
    .switch-toggle-off {
        padding: $switch-padding-y $switch-xs-padding-x;
    }
}
